.canvas{

    margin-left: auto;
    border: 1px solid black;
}
.clearBtn{
    position: absolute;
    right: 50px;
    top: 651px;
}
.restoreBtn{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    color: black;
    border: grey 1px solid;
    border-radius: 50%;
    :first-child{
        margin: auto;
        margin-top: -2px;
    }
    z-index: 110;
}